rules_version = '2';
service cloud.firestore {
  //entry point for the database
  match /databases/{database}/documents {  
    //match statement for the users collection
    match /users/{user_id}{
      //rules for the users collection
      allow read, create: if request.auth.uid != null;
      //allow update but only if the user owns the collection
      allow update: if request.auth.uid == user_id;
    }
    //create a rule for the projects collection
    match /projects/{project_id}{
      //allow read, create and update for any authenticated user
      allow read, create, update: if request.auth.uid != null;
      //allow delete but only if the user owns the collection
      //the resource.data.createdBy.id is the id of the user who created the project
      allow delete: if request.auth.uid == resource.data.createdByList.id;
    }   

  }
}


//users collection
// -any authenticated user can read and create;
// -only the user who created the document can update it (user_id is the id of the user who created the document)

//projects collection
// -any authenticated user can read, create and update;
// -only the user who created the document can delete it (resource.data.createdBy.id is the id of the user who created the document)


